Flask==3.0.3
opencv-contrib-python==4.8.0.74
opencv-python==4.9.0.80
opencv-python-headless==4.8.0.76
Pillow==10.3.0
pymystem3==0.2.0
pyspellchecker==0.8.1
pytesseract==0.3.10
shiftlab-ocr==0.3.2
pandas
